<div class="pb-16">
  <div class="nui-placeholder-page nui-placeholder-md relative !items-end">
    <div class="nui-placeholder-page-inner">
      <div class="nui-placeholder-page-img">
        <!--[--><img title="h"
          class="relative z-20 w-full max-w-lg mx-auto"
          src="../../../img/illustrations/system/404-1.svg"
        /><!--]-->
      </div>
      <div class="nui-placeholder-page-content">
        <h4
          class="nui-heading nui-heading-xl nui-weight-medium nui-lead-normal nui-placeholder-page-title"
        >
          <!--[-->Oops... Something went wrong<!--]-->
        </h4>
        <p class="nui-placeholder-page-subtitle">
          An error has occured. If the problem persists, please contact a system
          administrator or try again later.
        </p>
        <!--[-->
        <div class="mt-4">
          <div
            class="text-muted-400/20 dark:text-muted-400/10 absolute inset-x-0 top-1/3 -translate-y-1/2 text-[13rem] font-bold sm:text-[20rem]"
          >
            <span></span>
          </div>
          <div
            class="mx-auto flex w-full max-w-xs items-center justify-center gap-2"
          >
            <button
              type="button"
              rel=""
              target=""
              class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-default mx-auto !h-12 w-full max-w-[160px] items-center gap-2"
            >
              <!--[--><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="icon"
                style=""
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
                data-v-26e5b7b0=""
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m7 7l-7-7l7-7"
                ></path>
              </svg>
              Back to home
              <!--]--><!----></button
            ><!---->
          </div>
        </div>
        <!--]-->
      </div>
    </div>
  </div>
</div>
