 

    <ng-container>
      <nz-badge>
        <button title="n" class="nui-button-icon nui-button-full nui-button-medium nui-button-default" nz-button nz-dropdown nzTrigger="click" NzPlacement="right" nzShape="circle" nzSize="large" [nzDropdownMenu]="menu" [nzVisible]="dropdownVisible" (nzVisibleChange)="toggleDropdown()" >
          <i
          nz-icon
          nzType="shopping-cart"
          [ngStyle]="{ fontSize: '20px', paddingTop: '2px' }"
        ></i>
        </button>
      </nz-badge>
      <nz-dropdown-menu #menu="nzDropdownMenu">
         
          <div class="divide-muted-100 border-muted-200 dark:divide-muted-700 dark:border-muted-700 dark:bg-muted-800 absolute end-0 mt-2 w-72 origin-top-right divide-y rounded-md border bg-white shadow-lg focus:outline-none">
            <div class="p-4" role="none">
              <div class="relative flex items-center justify-between" role="none">
                <h4 class="font-heading text-muted-500 dark:text-muted-200 text-xs uppercase" role="none">
                  Notifications</h4>
                  <a aria-current="page" class="router-link-active router-link-exact-active font-alt text-primary-500 text-sm font-semibold" role="none">
                  View All
                  </a>
              </div>
            </div>
            <div class="p-4" role="none">
              <div  *ngFor="let notificacao of notificacoes" id="headlessui-menu-item-15" >
                <a aria-current="page" class="router-link-active router-link-exact-active group flex w-full items-center rounded-md p-2 text-sm transition-colors duration-300 text-muted-500">
                <div class="relative inline-flex size-9 items-center justify-center rounded-full">
                  <img src="assets/img/avatars/12.svg" class="max-w-full rounded-full object-cover shadow-sm dark:border-transparent" alt="">
                </div>
                <div class="ms-2">
                  <h6 class="font-heading text-muted-800 text-xs font-semibold leading-tight dark:text-white"> 
                  Helen Mariakis 
                  <span class="text-muted-500 dark:text-muted-400 font-normal">
                    {{ notificacao.mensagem }}
                  </span>
                  </h6>
                  <p class="text-muted-400 font-sans text-xs">
                   1 hour ago 
                  </p>
                </div>
              </a>
            </div>
             
            </div>
          </div>
           
      </nz-dropdown-menu>
    </ng-container>

    <nz-badge [nzCount]="2" >
      <a class="head-example animate-ping "></a>
    </nz-badge>
