<form action="" method="POST" class="relative py-0 sm:mx-auto sm:max-w-xl">
  <div
    class="nui-card nui-card-curved nui-card-white relative px-4 py-5 sm:p-10 md:mx-0"
  >
    <!--[-->
    <div class="mx-auto max-w-md">
      <div class="flex items-center gap-2">
        <div
          class="bg-primary-500/20 text-primary-500 flex h-14 w-14 shrink-0 items-center justify-center rounded-full font-sans text-2xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon h-5 w-5"
            style=""
            width="1em"
            height="1em"
            viewBox="0 0 256 256"
            data-v-26e5b7b0=""
          >
            <g fill="currentColor">
              <path
                d="M216 48v40H40V48a8 8 0 0 1 8-8h160a8 8 0 0 1 8 8Z"
                opacity=".2"
              ></path>
              <path
                d="M208 32h-24v-8a8 8 0 0 0-16 0v8H88v-8a8 8 0 0 0-16 0v8H48a16 16 0 0 0-16 16v160a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16ZM72 48v8a8 8 0 0 0 16 0v-8h80v8a8 8 0 0 0 16 0v-8h24v32H48V48Zm136 160H48V96h160v112Z"
              ></path>
            </g>
          </svg>
        </div>
        <div class="block text-xl font-semibold text-gray-700">
          <h3
            class="nui-heading nui-heading-lg nui-weight-medium nui-lead-normal"
          >
            <!--[-->
            Create an Event
            <!--]-->
          </h3>
          <p
            class="nui-text nui-content-sm nui-weight-normal nui-lead-normal text-muted-400"
          >
            <!--[-->Create a new upcoming event.<!--]-->
          </p>
        </div>
      </div>
      <div class="divide-y divide-gray-200">
        <div class="grid grid-cols-12 gap-4 py-8">
          <div class="col-span-12">
            <!--[-->
            <div
              class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon"
            >
              <label for="ninja-input-1963" class="nui-input-label"
                ><!--[-->Event title<!--]--></label
              >
              <div class="nui-input-outer">
                <div>
                  <input
                    id="ninja-input-1963"
                    type="text"
                    class="nui-input !h-11 !ps-11"
                    placeholder="Ex: Next team building party"
                    value=""
                  /><!----><!---->
                  <div class="!h-11 !w-11 nui-input-icon">
                    <!--[--><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      aria-hidden="true"
                      role="img"
                      class="icon nui-input-icon-inner"
                      style=""
                      width="1em"
                      height="1em"
                      viewBox="0 0 256 256"
                      data-v-26e5b7b0=""
                    >
                      <g fill="currentColor">
                        <path
                          d="M200 128a32 32 0 0 0 25.6 31.36a8 8 0 0 1 6.4 7.83V192a8 8 0 0 1-8 8H96V56h128a8 8 0 0 1 8 8v24.81a8 8 0 0 1-6.4 7.83A32 32 0 0 0 200 128Z"
                          opacity=".2"
                        ></path>
                        <path
                          d="M227.19 104.48A16 16 0 0 0 240 88.81V64a16 16 0 0 0-16-16H32a16 16 0 0 0-16 16v24.81a16 16 0 0 0 12.81 15.67a24 24 0 0 1 0 47A16 16 0 0 0 16 167.19V192a16 16 0 0 0 16 16h192a16 16 0 0 0 16-16v-24.81a16 16 0 0 0-12.81-15.67a24 24 0 0 1 0-47ZM32 167.2a40 40 0 0 0 0-78.39V64h56v128H32Zm192 0V192H104V64h120v24.8a40 40 0 0 0 0 78.39Z"
                        ></path>
                      </g></svg
                    ><!--]-->
                  </div>
                  <!--[--><!--]-->
                </div>
                <!---->
              </div>
            </div>
            <!--]-->
          </div>
          <div class="col-span-12">
            <!--[-->
            <div
              class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon"
            >
              <label for="ninja-input-1964" class="nui-input-label"
                ><!--[-->Short description<!--]--></label
              >
              <div class="nui-input-outer">
                <div>
                  <input
                    id="ninja-input-1964"
                    type="text"
                    class="nui-input !h-11 !ps-11"
                    placeholder="Ex: We will meet to have fun together"
                    value=""
                  /><!----><!---->
                  <div class="!h-11 !w-11 nui-input-icon">
                    <!--[--><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      aria-hidden="true"
                      role="img"
                      class="icon nui-input-icon-inner"
                      style=""
                      width="1em"
                      height="1em"
                      viewBox="0 0 256 256"
                      data-v-26e5b7b0=""
                    >
                      <g fill="currentColor">
                        <path
                          d="M112 80a32 32 0 1 1-32-32a32 32 0 0 1 32 32Zm64 32a32 32 0 1 0-32-32a32 32 0 0 0 32 32Zm-96 32a32 32 0 1 0 32 32a32 32 0 0 0-32-32Zm96 0a32 32 0 1 0 32 32a32 32 0 0 0-32-32Z"
                          opacity=".2"
                        ></path>
                        <path
                          d="M80 40a40 40 0 1 0 40 40a40 40 0 0 0-40-40Zm0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24Zm96 16a40 40 0 1 0-40-40a40 40 0 0 0 40 40Zm0-64a24 24 0 1 1-24 24a24 24 0 0 1 24-24Zm-96 80a40 40 0 1 0 40 40a40 40 0 0 0-40-40Zm0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24Zm96-64a40 40 0 1 0 40 40a40 40 0 0 0-40-40Zm0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24Z"
                        ></path>
                      </g></svg
                    ><!--]-->
                  </div>
                  <!--[--><!--]-->
                </div>
                <!---->
              </div>
            </div>
            <!--]-->
          </div>
          <div class="col-span-12">
            <!--[--><!--[-->
            <div class="flex w-full flex-col gap-4 sm:flex-row">
              <div class="relative grow">
                <!--[-->
                <div
                  class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon"
                >
                  <label for="ninja-input-1965" class="nui-input-label"
                    ><!--[-->Start date<!--]--></label
                  >
                  <div class="nui-input-outer">
                    <div>
                      <input
                        id="ninja-input-1965"
                        type="text"
                        class="nui-input !h-11 !ps-11"
                      /><!----><!---->
                      <div class="!h-11 !w-11 nui-input-icon">
                        <!--[--><svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          aria-hidden="true"
                          role="img"
                          class="icon nui-input-icon-inner"
                          style=""
                          width="1em"
                          height="1em"
                          viewBox="0 0 256 256"
                          data-v-26e5b7b0=""
                        >
                          <g fill="currentColor">
                            <path
                              d="M216 48v40H40V48a8 8 0 0 1 8-8h160a8 8 0 0 1 8 8Z"
                              opacity=".2"
                            ></path>
                            <path
                              d="M208 32h-24v-8a8 8 0 0 0-16 0v8H88v-8a8 8 0 0 0-16 0v8H48a16 16 0 0 0-16 16v160a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16ZM72 48v8a8 8 0 0 0 16 0v-8h80v8a8 8 0 0 0 16 0v-8h24v32H48V48Zm136 160H48V96h160v112Z"
                            ></path>
                          </g></svg
                        ><!--]-->
                      </div>
                      <!--[--><!--]-->
                    </div>
                    <!---->
                  </div>
                </div>
                <!--]-->
              </div>
              <div class="relative grow">
                <!--[-->
                <div
                  class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon"
                >
                  <label for="ninja-input-1966" class="nui-input-label"
                    ><!--[-->End date<!--]--></label
                  >
                  <div class="nui-input-outer">
                    <div>
                      <input
                        id="ninja-input-1966"
                        type="text"
                        class="nui-input !h-11 !ps-11"
                      /><!----><!---->
                      <div class="!h-11 !w-11 nui-input-icon">
                        <!--[--><svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          aria-hidden="true"
                          role="img"
                          class="icon nui-input-icon-inner"
                          style=""
                          width="1em"
                          height="1em"
                          viewBox="0 0 256 256"
                          data-v-26e5b7b0=""
                        >
                          <g fill="currentColor">
                            <path
                              d="M216 48v40H40V48a8 8 0 0 1 8-8h160a8 8 0 0 1 8 8Z"
                              opacity=".2"
                            ></path>
                            <path
                              d="M208 32h-24v-8a8 8 0 0 0-16 0v8H88v-8a8 8 0 0 0-16 0v8H48a16 16 0 0 0-16 16v160a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16ZM72 48v8a8 8 0 0 0 16 0v-8h80v8a8 8 0 0 0 16 0v-8h24v32H48V48Zm136 160H48V96h160v112Z"
                            ></path>
                          </g></svg
                        ><!--]-->
                      </div>
                      <!--[--><!--]-->
                    </div>
                    <!---->
                  </div>
                </div>
                <!--]-->
              </div>
            </div>
            <!--]-->
            <div class="vc-popover-content-wrapper is-interactive"><!----></div>
            <!--]-->
          </div>
          <div class="col-span-12">
            <!--[-->
            <div
              class="nui-textarea-wrapper nui-textarea-default nui-textarea-md nui-textarea-curved nui-textarea-not-resize"
            >
              <label for="ninja-input-1967" class="nui-textarea-label"
                >Long description</label
              >
              <div class="nui-textarea-outer">
                <textarea
                  id="ninja-input-1967"
                  class="nui-textarea"
                  placeholder="Ex: Some additional details about the event..."
                  rows="5"
                ></textarea
                ><!----><!----><!----><!---->
              </div>
            </div>
            <!--]-->
          </div>
          <div class="col-span-12">
            <!--[--><!--[-->
            <div
              class="nui-autocomplete nui-autocomplete-md nui-autocomplete-default nui-autocomplete-curved nui-has-icon"
              data-headlessui-state=""
            >
              <label
                id="headlessui-combobox-label-1436"
                data-headlessui-state=""
                class="nui-autocomplete-label"
                ><!--[-->Participants<!--]--></label
              >
              <div class="nui-autocomplete-multiple"><!----></div>
              <div class="nui-autocomplete-outer">
                <input
                  defaultvalue=""
                  aria-expanded="false"
                  aria-autocomplete="list"
                  id="headlessui-combobox-input-1437"
                  role="combobox"
                  type="text"
                  tabindex="0"
                  data-headlessui-state=""
                  class="nui-autocomplete-input"
                  placeholder="Add participants..."
                /><!---->
                <div class="nui-autocomplete-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    role="img"
                    class="icon nui-autocomplete-icon-inner"
                    style=""
                    width="1em"
                    height="1em"
                    viewBox="0 0 256 256"
                    data-v-26e5b7b0=""
                  >
                    <g fill="currentColor">
                      <path
                        d="M136 108a52 52 0 1 1-52-52a52 52 0 0 1 52 52Z"
                        opacity=".2"
                      ></path>
                      <path
                        d="M117.25 157.92a60 60 0 1 0-66.5 0a95.83 95.83 0 0 0-47.22 37.71a8 8 0 1 0 13.4 8.74a80 80 0 0 1 134.14 0a8 8 0 0 0 13.4-8.74a95.83 95.83 0 0 0-47.22-37.71ZM40 108a44 44 0 1 1 44 44a44.05 44.05 0 0 1-44-44Zm210.14 98.7a8 8 0 0 1-11.07-2.33A79.83 79.83 0 0 0 172 168a8 8 0 0 1 0-16a44 44 0 1 0-16.34-84.87a8 8 0 1 1-5.94-14.85a60 60 0 0 1 55.53 105.64a95.83 95.83 0 0 1 47.22 37.71a8 8 0 0 1-2.33 11.07Z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <!----><!----><!---->
              </div>
              <!----><!---->
            </div>
            <!--]--><!--]-->
          </div>
          <div class="col-span-12 sm:col-span-6">
            <!--[-->
            <div
              class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon"
            >
              <label for="ninja-input-1968" class="nui-input-label"
                ><!--[-->Event color<!--]--></label
              >
              <div class="nui-input-outer">
                <div>
                  <input
                    id="ninja-input-1968"
                    type="color"
                    multiple
                    list="eventColors"
                    class="nui-input !h-11 !ps-11 appearance-none"
                    placeholder="Pick an event color..."
                    value=""
                  /><!----><!---->
                  <div class="!h-11 !w-11 nui-input-icon">
                    <!--[--><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      aria-hidden="true"
                      role="img"
                      class="icon nui-input-icon-inner" 
                      width="1em"
                      height="1em"
                      viewBox="0 0 256 256"
                      data-v-26e5b7b0=""
                    >
                      <g fill="currentColor">
                        <path
                          d="M208 144a80 80 0 0 1-80 80V16s80 56 80 128Z"
                          opacity=".2"
                        ></path>
                        <path
                          d="M174 47.75a254.19 254.19 0 0 0-41.45-38.3a8 8 0 0 0-9.18 0A254.19 254.19 0 0 0 82 47.75C54.51 79.32 40 112.6 40 144a88 88 0 0 0 176 0c0-31.4-14.51-64.68-42-96.25ZM56 144c0-50 42.26-92.71 64-111.4v182.94A72.08 72.08 0 0 1 56 144Zm80 71.54V32.6C157.74 51.29 200 94 200 144a72.08 72.08 0 0 1-64 71.54Z"
                        ></path>
                      </g></svg
                    ><!--]-->
                  </div>
                  <!--[--><!--]-->
                </div>
                <!---->
              </div>
            </div>
            <datalist id="eventColors">
              <option value="#84cc16"></option>
              <option value="#22c55e"></option>
              <option value="#0ea5e9"></option>
              <option value="#6366f1"></option>
              <option value="#8b5cf6"></option>
              <option value="#d946ef"></option>
              <option value="#f43f5e"></option>
              <option value="#facc15"></option>
              <option value="#fb923c"></option>
              <option value="#9ca3af"></option></datalist
            ><!--]-->
          </div>
          <div class="col-span-12 sm:col-span-6">
            <!--[-->
            <div
              class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon"
            >
              <label for="ninja-input-1969" class="nui-input-label"
                ><!--[-->Event category<!--]--></label
              >
              <div class="nui-input-outer">
                <div>
                  <input
                    id="ninja-input-1969"
                    type="text"
                    multiple
                    list="eventCategories"
                    class="nui-input !h-11 !ps-11"
                    placeholder="Pick a category..."
                    value=""
                  /><!----><!---->
                  <div class="!h-11 !w-11 nui-input-icon">
                    <!--[--><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      aria-hidden="true"
                      role="img"
                      class="icon nui-input-icon-inner" 
                      width="1em"
                      height="1em"
                      viewBox="0 0 256 256"
                      data-v-26e5b7b0=""
                    >
                      <g fill="currentColor">
                        <path
                          d="M200 128a32 32 0 0 0 25.6 31.36a8 8 0 0 1 6.4 7.83V192a8 8 0 0 1-8 8H96V56h128a8 8 0 0 1 8 8v24.81a8 8 0 0 1-6.4 7.83A32 32 0 0 0 200 128Z"
                          opacity=".2"
                        ></path>
                        <path
                          d="M227.19 104.48A16 16 0 0 0 240 88.81V64a16 16 0 0 0-16-16H32a16 16 0 0 0-16 16v24.81a16 16 0 0 0 12.81 15.67a24 24 0 0 1 0 47A16 16 0 0 0 16 167.19V192a16 16 0 0 0 16 16h192a16 16 0 0 0 16-16v-24.81a16 16 0 0 0-12.81-15.67a24 24 0 0 1 0-47ZM32 167.2a40 40 0 0 0 0-78.39V64h56v128H32Zm192 0V192H104V64h120v24.8a40 40 0 0 0 0 78.39Z"
                        ></path>
                      </g></svg
                    ><!--]-->
                  </div>
                  <!--[--><!--]-->
                </div>
                <!---->
              </div>
            </div>
            <datalist id="eventCategories">
              <option value="Chrome"></option>
              <option value="Firefox"></option>
              <option value="Opera"></option>
              <option value="Safari"></option>
              <option value="Microsoft Edge"></option></datalist
            ><!--]-->
          </div>
        </div>
        <div class="flex items-center gap-4 pt-4">
          <button
            type="button"
            rel=""
            target=""
            class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-default !h-12 w-full"
          >
            <!--[-->Cancel<!--]--><!----></button
          ><button
            type="submit"
            rel=""
            target=""
            class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-12 w-full"
          >
            <!--[-->Create<!--]--><!---->
          </button>
        </div>
      </div>
    </div>
    <!--]-->
  </div>
</form>
