.preview {
    max-width: 150px;
  }
  .ant-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
  }


  /* CSS */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /* Esconde o elemento SELECT original */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Estilize a seta dentro do elemento SELECT */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Aponte a seta para cima quando o menu estiver aberto (ativo) */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* Estilize os itens (opções), incluindo o item selecionado */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Estilize os itens (opções) */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Esconda os itens quando o menu estiver fechado */
.select-hide {
  display: none;
}

/* Destaque o item quando o mouse passar por cima */
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
